@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html {
    font-family: 'Source Sans Pro', sans-serif;
}

/* **NAV STYLES** */
nav {
    background-color: black;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3% 0;
    color: #FFFFFF;
  }
nav a {
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 0.5%;
    padding: 0 15px;
    border-radius: 5px;
    transition: background 80ms ease;
  }

/* **FORM STYLES** */

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.form input {
    width: 400px;
    height: 30px;
    padding: 5px;
    margin: 10px;
    font-weight: bold;
    color: black;
    font-size: 14px;
    outline: none;
    border: rgb(179, 176, 176) solid 0.5px;
}

.form input::placeholder{
    color:rgb(200, 193, 193);
}

.form input:focus {
    border: black solid 0.5px;
    transition: 0.2s ease;
}

.name {
    display: flex;
    flex-direction: row;
}

.name input {
    width: 185px;
    margin: 10px;
}

.button {
    background-color: #1db954;
    border: none;
    border-radius: 30px;
    width: 400px;
    padding: 15px;
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
}

.buttonTitle {
    font-weight: bold;
    font-size: 17px;
}

.button:hover {
    background-color: #4dce7a;
    transition: 0.2s ease;
}

hr {
    width: 60%;
    border: rgb(185, 183, 183) 0.5px solid;
    margin-top: 30px;
}

.link {
    margin: 10px;
    color: rgb(110, 110, 110);
    text-decoration: none;
    font-weight: bold;
    background-color: white;
    letter-spacing: 2px;
    border: gray 2px solid;
    border-radius: 30px;
    padding: 12px 0;
    font-size: 14px;
    width: 400px;
    text-align: center;
}

.link:hover {
    background-color: gray;
    transition: 0.3s ease;
    color: white;
}

.error {
    color: red;
}

.errorInput {
    border: solid red 1px !important;
}