@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html {
    font-family: 'Source Sans Pro', sans-serif;
}

/* **NAV STYLES** */
nav {
    background-color: black;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3% 0;
    color: #FFFFFF;
  }
nav a {
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 0.5%;
    padding: 0 15px;
    border-radius: 5px;
    transition: background 80ms ease;
  }

  .dashNav {
    position: fixed;
    top: 0;
    width: 99vw;
  }

  .signOut {
    color: rgb(240, 96, 96);
    font-weight: 600;
  }

/* **FORM STYLES** */

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.form input {
    width: 400px;
    height: 30px;
    padding: 5px;
    margin: 10px;
    font-weight: bold;
    color: black;
    font-size: 14px;
    outline: none;
    border: rgb(179, 176, 176) solid 0.5px;
}

.form input::placeholder{
    color:rgb(200, 193, 193);
}

.form input:focus {
    border: black solid 0.5px;
    transition: 0.2s ease;
}

.name {
    display: flex;
    flex-direction: row;
}

.name input {
    width: 185px;
    margin: 10px;
}

.button {
    background-color: #1db954;
    border: none;
    border-radius: 30px;
    width: 400px;
    padding: 15px;
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
}

.buttonTitle {
    font-weight: bold;
    font-size: 17px;
}

.button:hover {
    background-color: #4dce7a;
    transition: 0.2s ease;
}

hr {
    width: 60%;
    border: rgb(185, 183, 183) 0.5px solid;
    margin-top: 30px;
}

.link {
    margin: 10px;
    color: rgb(110, 110, 110);
    text-decoration: none;
    font-weight: bold;
    background-color: white;
    letter-spacing: 2px;
    border: gray 2px solid;
    border-radius: 30px;
    padding: 12px 0;
    font-size: 14px;
    width: 400px;
    text-align: center;
}

.link:hover {
    background-color: gray;
    transition: 0.3s ease;
    color: white;
}

.error {
    color: red;
}

.errorInput {
    border: solid red 1px !important;
}

.saveButton {
  background: #1db954;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
  padding: 5px;
  border-radius: 10px;
}

.saveButton:hover {
  background-color: #4dce7a;
  transition: 0.2s ease;
}

/* **SEARCH BAR STYLES** */

.searchBar {
    display: flex;
    width: 99%;;
    overflow: hidden;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.searchBar input {
    margin: 0 5px;
    height: 20px;
    padding: 5px;
}

.searchBar button {
    background:#1db954;
    border: none;
    padding: 10px;
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
    border-radius: 30px;;
}

.searchBar button:hover {
    background-color: #4dce7a;
    transition: 0.2s ease;
}

.message {
  font-weight: bold;
  color: rgb(161, 162, 165);
  font-size: 2rem;
  margin: 20px 0;
  text-align: center;
  letter-spacing: 1px;
}

.preSearch {
  height: 65vh;
}

.igraph {
  height: 100vh;
  width: 100%;
  border: none;
}

/* **SAVED STYLES** */

.profile {
  text-align: center;
  height: 75vh;
}

.title {
  letter-spacing: 2px;
  margin: 0;
  width: 80%;
  padding: 10px 0;
  border-bottom: gray 1px solid;
  font-size: 20px;
  background-color: #111111;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.savedSongs {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.legend{
  font-weight: 700;
  letter-spacing: 1px;
  padding: 10px 0;
  background-color: #111111;
  color: #FFFFFF;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.legend p {
  margin: 0 20px;
}

.savedSong {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  background-color: #111111;
  border-top: gray solid 1px;
  border-bottom: gray solid 1px;
  width: 80%;
  height: 40px;
  color: white;
  font-weight: 200;
  font-size: 1.2rem;
}

.savedSong p {
  margin:0 20px;
}

.savedSong img{
  width: 50%;
  height: auto;
  border-radius: 20px;
}

/* **PROFILE STYLES** */

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile button {
  width: 200px;
}

/* **FOOTER STYLES** */
footer {
    margin-top: 8%;
    width: 100%;
    background: #111111;
    padding: 5% 0;
  }
  .footer-wrapper {
    width: 60%;
    margin: 0 auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: 800px) {
    .footer-wrapper {
      width: 80%;
    }
  }
  @media (max-width: 500px) {
    .footer-wrapper {
      flex-direction: column;
    }
  }
  .footer-wrapper .footer-section {
    width: 25%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 500px) {
    .footer-wrapper .footer-section {
      width: 100%;
      margin-bottom: 15%;
      align-items: center;
    }
  }
  .footer-wrapper .footer-section h3 {
    font-size: 2rem;
    color: #FFFFFF;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 10%;
  }
  .footer-wrapper .footer-section .footer-header {
    font-size: 1.4rem;
  }
  @media (max-width: 500px) {
    .footer-wrapper .footer-section .footer-header {
      margin-bottom: 4%;
    }
  }
  .footer-wrapper .footer-section p {
    font-size: 1.2rem;
    line-height: 1.4;
    color: #FFFFFF;
  }
  @media (max-width: 500px) {
    .footer-wrapper .footer-section p {
      text-align: center;
    }
  }
  .footer-wrapper .footer-section a {
    display: block;
    font-size: 1.2rem;
    margin: 2% 0;
    color: #FFFFFF;
  }
  @media (max-width: 800px) {
    .footer-wrapper .footer-section a {
      margin: 4% 0;
    }
  }
  @media (max-width: 500px) {
    .footer-wrapper .footer-section a {
      margin: 2% 0;
    }
  }
  .footer-wrapper .footer-section button {
    padding: 6% 0;
    border-radius: 100px;
    border: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    background: #1DB954;
    color: #FFFFFF;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    margin-top: 15%;
  }
  @media (max-width: 800px) {
    .footer-wrapper .footer-section button {
      padding: 7% 0;
      border-radius: 100px;
      border: none;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 700;
      background: #1DB954;
      color: #FFFFFF;
      letter-spacing: 1px;
      cursor: pointer;
      outline: none;
    }
  }
  @media (max-width: 500px) {
    .footer-wrapper .footer-section button {
      padding: 5% 0;
      border-radius: 100px;
      border: none;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 700;
      background: #1DB954;
      color: #FFFFFF;
      letter-spacing: 1px;
      cursor: pointer;
      outline: none;
      width: 100%;
    }
  }
